<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>LED</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="top">
    <h1>Control LED (Serial: LED_ON / LED_OFF)</h1>
    <a class="logout" href="/logout">Salir</a>
  </div>

  <div class="row">
    <button id="btnOn">LED ON</button>
    <button id="btnOff">LED OFF</button>
  </div>

  <pre id="log"></pre>

  <script src="/static/js/app.js"></script>
</body>
</html>
